:root{

--primary:#7CFF3B;
--primary-dark:#59d61f;

--background:#07090d;
--surface:#0d1117;
--surface-light:#161b22;

--card:#11151d;
--card-hover:#171c24;

--border:#252b35;

--text:#ffffff;
--text-secondary:#b8c0cc;

--success:#20d97a;
--danger:#ff4b5c;

--gradient-green:
linear-gradient(
135deg,
#7CFF3B,
#41d900
);

--gradient-dark:
linear-gradient(
180deg,
#10131a,
#07090d
);

}