.display{

font-size:72px;
font-weight:800;
line-height:0.95;

}

.title{

font-size:48px;
font-weight:700;

}

.subtitle{

font-size:28px;
font-weight:600;

}

.body{

font-size:18px;
line-height:1.8;

}

.small{

font-size:14px;

}